html {
    background-color: lightslategrey;
}



body {
    margin: auto;
    width: 500px;
    padding-bottom: 0.1px; /*knep för div margin */
    background-color:azure;
    font-family: sans-serif;
}



h1 {
    color: purple;
    text-align: center;
    
}



#billy{
    border: 1px solid purple;
    color:darkred;
}



#bob{
    border:solid 1px purple;
    border-radius: 5px;
    color:darkgreen;
}



.two{
  font-size: large;

}



.three{
    font-size: smaller;
}



p:nth-child(4){
    font-weight: bolder;
}




#bob > .two + p + p{
    text-align: justify;
}




#bob a{
    text-decoration: line-through;
}



#bob .two a{
    text-decoration: overline underline ;
}

